doctype html 
html 
    head 
        style 
           include ../static/style.css 
    body 
      nav#navbar
          ul
            li #[a(href="/") HOME] 
            li #[a(href="/") ABOUT] 
            li #[a(href="/") SERVICES] 
            li #[a(href="/") CLASS INFO] 
            li #[a(href="/") CONTACT US]
      section 
            section#introSection
              div#logo 
                 div.big WELCOME IN MY HEART!
                 div.small LIVE LEARN DANCE
            section#middlebox 
                   div.h2 OUR MISSIONS
                   div.mid  
                     p  Dance Perfection
                   div.mid  
                     p Dance the way you like
                   div.mid  
                     p Expert Teaching
                  
            section#sponsorsSection
                  div.class SECTION FOR SPONSCOR

            footer#footer 
            | Contact Us: khushidixit@gmail.com , 9811796408
      script 
         include ../static/index.js

